<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/templates/head %>
</head>

<body>
<% include partials/templates/nav %>
  <% include partials/templates/navbar %>
  <% include partials/templates/header %>
    <form class="form-horizontal" method='POST'>
        <div class="form-group">
            <label class="control-label col-sm-4" for="name">First Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="firstName" name="firstName" required value = "<%=input.firstName%>" placeholder="Enter First Name ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="name">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="lastName" name="lastName" required value = "<%=input.lastName%>" placeholder="Enter Last Name ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="username">Username:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="username" name="username" required value = "<%=input.username%>" placeholder="Enter Username ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Password:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="pwd" name="password" required value = "<%=input.password%>" placeholder="Enter password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Account Type:</label>
            <div class="col-sm-4">
                <select name="accountType" id="accountType" class="form-control">
                    <option>Teacher</options>
                    <option>Student / Guardian</options>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email" name="email" required value = "<%=input.email%>" placeholder="Enter Your Email ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="contactNo">Contact No:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="contactNo" name="contactNo" required value = "<%=input.contactNo%>" placeholder="Enter Your Contact No ">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default">Create My Account</button>
            </div>
        </div>
        
    <%if(typeof(error)!='undefined'){ %>
        <div class="form-group">
            <span style="color:red;"><%=error%></span>
        </div>
        <% } %>
    </form>


    <% include partials/templates/footer %>
    <% include partials/templates/jsdefaults %>
</body>

</html>